.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #434455;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

section {
    padding: 96px 0;
    margin: 0 auto;
}





.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.section-logo {
    color: #2e2f42;
}


/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px #2E2F4214,
        0px 1px 1px 0px #2E2F4229,
        0px 2px 1px 0px #2E2F4214;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu,
.navigation-address {
    display: none;
}

.logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .studio {
    color: #2e2f42;
}

.footer-logo .studio {
    color: #f4f4fd;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .navigation-address {
        display: block;
        font-style: normal;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .navigation-link {
        display: block;
        color: #2e2f42;
        font-weight: 500;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-link.is-active {
        color: #404bbf;
        position: relative;
    }

    .navigation-link.is-active::after {
        content: '';
        position: absolute;
        background: #404bbf;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
    }

    .contacts {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-link:hover,
    .navigation-link:focus,
    .contacts:hover,
    .contacts:focus {
        color: #404bbf;
    }

    .navigation-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .navigation-address-list {
        flex-direction: row;
        gap: 40px;
    }

    .contacts {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02;

    }
}

/* 1st section */


.banner {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/banner-background/mobile1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    /* max-width: 1440px; */
}

@media (min-resolution: 2x) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/banner-background/mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/banner-background/tablet1x.jpg);
        max-width: 768px;
    }

    @media (min-resolution: 2x) {
        .banner {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/banner-background/tablet@2x.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/banner-background/pc1x.jpg);
        max-width: 1158px;
    }

    @media (min-resolution: 2x) {
        .banner {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/banner-background/pc@2x.jpg);
        }
    }
}

.banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.page-title {
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    max-width: 216px;
}

.banner-button {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px #00000026;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-button:hover,
.banner-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .banner .container {
        gap: 36px;
    }

    .banner {
        padding: 112px 0;
    }

    .page-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .banner .container {
        gap: 48px;
    }

    .banner {
        padding: 188px 0;
    }
}

/* 2st section */

.benefits-icon-container {
    display: none;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    height: 112px;
    margin-bottom: 8px
}

.benefits-title {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin: 8px 0;
    text-align: center;
}

.benefits-info {
    color: #434455;
    font-weight: 500;
}

.benefits-list {
    display: flex;
    justify-content: center;
    row-gap: 72px;
    flex-wrap: wrap;
}

.benefits-card {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        gap: 24px;
    }

    .benefits-card {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .benefits-icon-container {
        display: flex;
    }


    .benefits-card {
        width: calc((100% - 72px) / 4);
    }

    .benefits-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: start;
    }

    .benefits-info {
        font-weight: 400;
    }
}

/* section 3 */

.section-team {
    background-color: #f4f4fd;
}

.section-team .container {
    display: flex;
    flex-direction: column;
    padding: 0 28px;
}

.section-team .section-logo {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

.team-card {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 6px 0px #2E2F4214,
        0px 1px 1px 0px #2E2F4229,
        0px 2px 1px 0px #2E2F4214;
    width: 264px;
    background-color: #FFFFFF;
}

.team-text {
    align-items: center;
    padding: 32px 0;
}

.team-info {
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}

.team-description {
    font-size: 16px;
    text-align: center;
}

.team-icon,
.footer-icon {
    fill: #f4f4fd;
}

.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
}



.team-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-link-container {
    width: 40px;
    height: 40px;
}

.team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .team-list {
        gap: 24px;
        row-gap: 64px;
    }
}

@media screen and (min-width: 1158px) {
    .section-team .container {
        padding: 0;
    }
}

/* section 4 */

.portfolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio .section-logo {
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px #2E2F4214,
        0px 1px 1px 0px #2E2F4229,
        0px 1px 6px 0px #2E2F4214;
}

.portfolio-card:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214,
        0px 1px 1px 0px #2E2F4229,
        0px 1px 6px 0px #2E2F4214;
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.overlay-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
    color: #2e2f42;
    margin-bottom: 8px;
}

.border_of_portfolio {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-card {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 24px;
        row-gap: 72px;
    }

    .portfolio-card {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-card {
        box-shadow: none;
    }

    .portfolio-list {
        gap: 24px;
        row-gap: 48px;
    }

    .portfolio-card {
        width: calc((100% - 48px) / 3);
    }
}

.page-footer .container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
}

.footer-block {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
}

.page-footer {
    padding: 96px 0;
    color: #f4f4fd;
    background-color: #2e2f42;
}

.footer-logo {
    text-align: center;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-link-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-container {
    width: 40px;
    height: 40px;
}

.footer-title {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-button {
    background-color: #4d5ae5;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}


.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}

.footer-button-icon {
    fill: #fff;
    margin-left: 16px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px #00000026;
    padding: 8px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    background-color: transparent;
    color: #ffffff;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
    opacity: 0.3;
    width: 288px;
}

.footer-input::placeholder {
    color: #fff;
}

.footer-input:focus,
.footer-input:active {
    border: 1px solid #4d5ae5;
    box-shadow: none;
}

@media screen and (min-width: 768px) {
    .footer-block {
        width: calc((100% - 24px) / 2);
    }

    .footer-block {
        align-items: flex-start;
    }


    .page-footer .container {
        padding: 0 108px;
        gap: 24px;
        row-gap: 72px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-info {
        max-width: 264px;
    }
}

@media screen and (min-width: 1158px) {

    .footer-input {
        opacity: 1;
    }

    .footer-block {
        width: auto;
    }

    .page-footer .container {
        padding: 0;
        gap: 0;
        justify-content: center;
    }

    .footer-block:first-child+.footer-block {
        margin-left: 120px;
        margin-right: 80px;
    }
}

/* modal */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 80px; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: absolute;
    padding: 72px 16px 24px 16px;
    top: 50%;
    left: 50%;
    width: 288px;
    /* height: calc(100% - 16px); */
    margin-bottom: auto;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px 0px #00000024,
        0px 1px 3px 0px #0000001F,
        0px 2px 1px 0px #00000033;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*  */

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    flex-direction: column;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-container {
    position: relative;

}

.textarea-container {
    margin-bottom: 16px;
}

.modal-close-button {
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;

    background-color: #e7e9fc;
    border: 1px solid #0000001A;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .close-button-icon,
.modal-close-button:focus .close-button-icon {
    fill: #ffffff;
}



.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;
}

.form-container {
    margin-bottom: 8px;

}

.form-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

.form-checkbox {
    border: 1px solid #8e8f99;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: inline;
}

.conditions-containter {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 24px;
    gap: 8px
}

.form-condition {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    gap: 8px;
    align-items: center;
}

.conditions-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.form-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
}

.form-submit-button {
    background-color: #4d5ae5;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-button:hover,
.form-submit-button:focus {
    background-color: #404bbf;
}

.modal-input {
    padding-left: 38px;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}


.modal-input:focus+.form-input-icon {
    fill: #4d5ae5;
}

.form-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked+.form-condition .form-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

    .modal {
        width: 408px;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    /* padding-top: 80px; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
    transform: translate(100%, 0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0, 0);
}

.mobile-menu-container {
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    height: 100%;
}

.mobile-menu-button {
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;

    background-color: #e7e9fc;
    border: 1px solid #0000001A;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:hover .mobile-close-button-icon,
.mobile-menu-button:focus .mobile-close-button-icon {
    fill: #ffffff;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.mobile-menu-navigation {
    margin-bottom: auto;
}

.mobile-navigation-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42
}

.mobile-navigation-link.is-active {
    color: #404bbf;
}

.mobile-contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.mobile-navigation-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-style: normal;
}

.mobile-team-link-list {
    display: flex;
    gap: 40px;
}

.mobile-team-icon {
    fill: #fff;
}

.mobile-team-link-container {
    width: 40px;
    height: 40px;
}

.mobile-team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}